header {
  background-color: #6b1010;
  padding: 3px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin: 20px;
}

body {
  background-color: #531010;
  margin: 10px;
}

section {
  padding: 30px;
  font-size: 20px;
}

footer {
  background-color: rgba(2, 0, 0, 0.376);
  padding: 20px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  text-align: center;
}

h1 {
  color: #FFFFFF;
}

h2 {
  color: rgba(255, 255, 255, 0.761);
}

h3 {
  color: #FFFFFF;
}

h5 {
  color: rgba(255, 255, 255, 0.761);
}

p {
  color: #FFFFFF;
  padding: 2px;
  margin-top: 5vb;
}

/* photo of me and text under the photo */
#BildeAvMeg {
  margin-right: 60vb;
  margin-top: 5vb;
}

#BildeUnderTekst {
  font-size: 15px;
  margin-right: 100vb;
  margin-top: -12vb;
}

/* about me */
.LittOmMeg {
  margin-top: -50vb;
  margin-bottom: 80vb;
  font-size: 25px;
  text-align: right;
  margin-right: 50px;
  padding: 8px;
}

#OmMeg {
  font-size: 25px;
  margin-bottom: -60px;
}

.OmMegContent {
  font-size: 20px;
  padding: 8px;
  margin-bottom: 20vb;
}

/* subjects */
#Fag {
  margin-left: 60vb;
  margin-right: 50vb;
  background-color: #560d0d;
  border-radius: 20px;
  text-align: center;

}

#MedieContent {
  font-size: 25px;
  margin-left: 60vb;
  margin-right: 50vb;
  text-align: center;
}

#TeknologiContent {
  font-size: 25px;
  margin-left: 60vb;
  margin-right: 50vb;
  text-align: center;
}

#ProgrammeringContent {
  font-size: 25px;
  margin-left: 60vb;
  margin-right: 50vb;
  text-align: center;
  margin-bottom: 50vb;
}

/* contact information */
#KontaktMeg {
  text-align: left;
  margin-bottom: -10vb;
}

.KontaktInfo {
  font-size: 20px;
  margin-left: 25px;
  margin-bottom: 20px;
  padding: 2px;
  text-align: left;
}

/* Mediaproduksion header */
#MediaHeader {
  font-size: 30px;
  text-align: center;
}

#ProjectsIMadeMedia {
  font-size: 25px;
}

/* Home Button */
.HomeButton {
  font-size: 2vb;
  margin-left: -180vb;
}

/* Media prosject 1-3 */
#Vernazza {
  text-align: Left;
  font-size: 25px;
  padding: 2px;
}

#FilmProject {
  text-align: center;
  font-size: 25px;
  margin-top: -38vb;
  padding: 2px;
}

#MinLogo {
  text-align: right;
  font-size: 25px;
  margin-top: -38vb;
  padding: 2px;
  margin-bottom: 30vb;
}

/* Teknologi Projects */
#Powershell {
  text-align: left;
  font-size: 25px;
  padding: 2px;
}

#DataSikkerhet {
  text-align: right;
  font-size: 25px;
  margin-top: -68vb;
  padding: 2px;
  margin-bottom: 30vb;
}

#Nettverk {
  text-align: center;
  font-size: 25px;
  padding: 2px;
  margin-top: -39vb;
  margin-bottom: 30vb;
}
